@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f0efe9;
}

/* navbar */

.nav-item a {
    color: #000;
}

.nav-item a:hover {
    font-weight: bold;
    color: #000;
}
/* end navbar */

/* jumbotron */

.jumbotron {
    padding: 2rem 1rem;
    font-weight: 700;
}

.jumbotron img {
    width: 200px;
    border-color: #000000;
}
/* end jumbotron */

/* about me */

#about {
    background-color: #000;
}

.about-me {
    color: #fff;
}

.descriptions {
    color: #b7b7b7;
}
/* end about me */

/* projects */
#projects {
    background-color: #000;
}
.projects {
    color: #fff;
}

.figure-project {
    background-color: #439f8f;
}

.img-project {
    height: 500px;
}

.project-title {
    color: #fff;
}

.project-descriptions {
    color: #fff;
}

.link-code {
    text-decoration: none;
    color: #fff;
}

/* projects */

/* contact */
#contact {
    background-color: #f0efe9;
}

.contact {
    color: #000;
}
.list-group {
    list-style-type: none;
}

.ul-social-media li {
    display: inline;
}
/* end contact */

/* footer */

footer {
    background-color: #f0efe9;
}
/* end footer */
